$tomato: #ff6347;

/* Top Bar */
.top-bar{
  color:$white;

  span{
    color:lighten( #ff6347, 30% );
    background:$dark-gray;
    padding:5px 9px;
    margin-right:4px;
  }

  .nav
  {
    font-size: 1.1em;
  }

  li{
    text-transform: uppercase;
  }

  a{
    color: $white;
  }

  $red: #FF0000;

  a:hover{
    color: tomato;

  }

  a.current{
    color: tomato;
    border-bottom:3px solid tomato;
  }
}

.menu-vertical
{
  -webkit-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.75);
}



.news-carousel
{
  background-color: $tomato;
  .orbit
  {
    padding-top: 20px;
    padding-bottom: 13px;
  }
}

.player-introduction
{
  text-align: center;
  background-color: #FEC500;
  font: 'Roboto';

  .header-player-introduction
  {

  }

  .new-player
  {
    border: 5px solid #FEC500;
    padding-top: 15px;
    margin-bottom: 25px;
    background-color: $medium-light-gray;
  }

  .new-player:hover
  {
    background-color: $medium-gray;
  }

  img
  {
    height: 130px;
    border-radius: 50%;
  }
}

.timetable
{
  thead
  {
    background-color: $tomato;
    border: 1px solid $tomato;
  }
  background-color: #558F6E;
  padding-bottom: 9px;

  .recent-matches
  {

  }

  .future-matches
  {

  }
}

.media-preview
{

}

footer
{
  padding-top: 50px;
  background-color: $light-gray;
  padding-bottom: 20px;
}

.impressum-content
{
  background-color: #F0F4F1;
}

.media-preview
{
  background-color: #46B29D;

  .image-preview
  {
    max-width: 20rem;
    max-height: 17rem;
    height: auto;
    width: auto;

  }
}

.media-preview-entry
{
  color: #000000;

  img
  {
    max-height: 7rem;
    max-width: 7rem;
    height: auto;
    width: auto;
  }

  :hover
  {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background: #f5f5f5;
  }
}

.sponsor-grid
{
  background-color: #324D5C;

  img
  {
    max-height: 15rem;
  }
}
